$appear: appear 0.5s cubic-bezier(.32, .36, .4, 1.44) 0s 1 normal forwards;
$press: press 0.1s;
$slide: slide 0.7s;
$shake: shake 1s;

@keyframes appear {
   0% {
      opacity: 0;
      transform: scale(0.6);
   }

   100% {
      opacity: 1;
      transform: scale(1);
   }
}

@keyframes press {

   0% {
      transform: scale(0.95);
   }

   100% {
      transform: scale(1);
   }
}

@keyframes slide {
   0% {
      opacity: 0;
      transform: translateX(-100px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes shake {

   0%,
   100% {
      transform: rotate(0deg);
      transform-origin: 50% 100%;
   }

   10% {
      transform: rotate(2deg);
   }

   20%,
   40%,
   60% {
      transform: rotate(-4deg);
   }

   30%,
   50%,
   70% {
      transform: rotate(4deg);
   }

   80% {
      transform: rotate(-2deg);
   }

   90% {
      transform: rotate(2deg);
   }
}