/* definição do layout q talvez seja necessesário*/
.layout {
    margin: auto;
    width: 80%;
}

.title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;

    -webkit-box-shadow: 0px 23px 20px -26px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 23px 20px -26px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 23px 20px -26px rgba(0, 0, 0, 0.75);
}

.icons {
    width: 5%;
    display: flex;
    justify-content: space-evenly;
}

.bt {
    border-radius: 5px;
    color: white;
    margin: 0.25em;
    padding: 0.5em 1.25em;
    background: #2278fc;
}

.overflow {
    height: 600px;
    margin: auto;
    overflow-y: scroll;
    width: 90%;
}

/* o cartãp em si*/
.card {
    border-bottom: 1px solid gray;
    padding: 0.5em;
}

.cardHead {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
}

.cardHead a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.cardBody p {
    margin: 0em;
}

@media screen and (min-width: 1200px) {
    .layout {
        width: 65%;
    }

    .overflow {
        height: 500px;
    }
}

@media screen and (min-width: 1500px) {
    .layout {
        width: 55%;
    }

    .overflow {
        height: 600px;
    }
}