.card {
    border-bottom: 1px solid gray;
    padding: 0.5em;
}

.cardHead {
    padding: 0.5em 0;
}

.cardHead a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.cardBody p {
    margin: 0em;
}

@media screen and (min-width: 800px) {
    .card {
        
    }
}

@media screen and (min-width: 1200px) {
    .card {
        
    }
}

@media screen and (min-width: 1500px) {
    .card {
        
    }
}