@import "globals";

.background {
    background-color: $bg;
}

.logo {
    align-items: center;
    height: 48px;
    width: 48px;
    margin: 4px;
    border-radius: 100%;
}

.navBar {
    transition: .1s ease-out;
    padding: 15px;
    box-shadow: 0px 4px 20px 0px $shadow;
    background-color: $bg;
    width: 100%;
}

.navDrop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

.navItem {

    &:hover {
        background-color: $main-hover;
    }
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    transition: .1s ease-out;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 4px 20px 0px $shadow;
    background-color: $bg;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    animation: $slide;
}

.formSmall {
    @extend .form;
    width: 25%;
    margin-top: 5%;
}

.table {
    //border: 3px dashed purple !important;
    width: 100%;
}

.card {
    border-top: 2px solid $shadow;
    border-bottom: 2px solid $shadow;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 8px;
    animation: $appear;
}

.cardHead {
    @extend .lbl;
    margin: 16px;
}

.cardBody {
    @extend .h2;
}

.center {
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flexRow {
    display: flex;
    flex-direction: row;
}

// ---------------------------------------------------------------- BUTTON

.btn {
    font: 500 1.125rem $fontTitle;
    border: 0.15em solid $main;
    border-radius: 0.2em;
    padding: 0.3em 0.8em;
    margin: 0.25em;
    transition: 0.1s;
    background-color: $bg;
    color: $main;

    &:hover {
        background-color: $main;
        color: $bg;
    }

    &:active {
        animation: $press;
    }
}

.btnSecondary {
    @extend .btn;
    background-color: $h2;
}

// ---------------------------------------------------------------- TOOLTIP

.tooltiptext {
    max-width: 25%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    margin-left: -256px;
    margin-top: -80px;
    z-index: 3;
    background-color: red;
    color: $bg;
    text-align: center;
    font-family: $fontText;
    font-size: 16px;
    font-weight: 500;
    border-radius: 15px;
    padding: 15px;
    transition: 0.1s ease-out;
    line-height: 20px;
}

.tooltip:hover+.tooltiptext {
    animation: $appear;
    visibility: visible;
    opacity: 1;
}

// ---------------------------------------------------------------- FONTS

.lbl {
    font: 400 1.5rem/1.2rem $fontTitle;
    text-align: center;
    color: $main;
}

.title {
    font: 500 1.75rem $fontTitle;
    color: $h1;
}

.h1 {
    font: 500 2.5rem $fontTitle;
    text-align: center;
    color: $h1;
    margin: 0.25rem 0.25rem 3.5rem 0.25rem;
}

.h2 {
    font: 300 1rem $fontText;
    text-align: justify;
    color: $h2;
}

// ---------------------------------------------------------------- INPUT

.formInput {
    border: none;
    border-bottom: 4px solid $shadow;
    @extend .h2;
    transition: .1s ease-out;
    padding: 10px;
    border-radius: 5px;
    color: $h2;
    width: 100%;
    height: 3rem;
    margin-top: 6px;
    margin-bottom: 40px;
    background-color: $bg;
}

.formInput:hover,
.formInput:focus {
    outline: none;
    background-color: $shadow;
}

.formInput[type="checkbox"] {
    background-color: $bg;
    border: none;
    appearance: none;
}

.formInput[type="checkbox"]::before {
    @extend .h2;
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    background-color: $shadow;
    border-radius: 2px;
    transition: background-color .1s ease;
}

.formInput[type="checkbox"]:checked::before {
    background-color: $main;
}

// ---------------------------------------------------------------- MODAL

.modal {
    padding-top: 2%;
    backdrop-filter: blur(3px);
}

.modalContent {
    margin: 20px;
}

.icon {
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    background-color: $main;
    color: $bg;
    padding: 8px;
    margin: 8px;
    transition: .1s ease-out;
    text-decoration: none;

    &:hover,
    &:active {
        background-color: $main-hover !important;
    }

    &:active {
        animation: $press;
    }
}

.sticky {
    position: sticky;
    top: 5px;
    width: fit-content;

}

.footer {
    @extend .h2;
    background-color: $shadow;
    text-align: center;
    padding: 16px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
}

.link {
    color: $main;
    text-decoration: none;
    font-weight: bolder;
    font-family: $fontTitle;
}

.link:hover {
    text-decoration: underline;
}

.row {
    display: flex;
}

.column {
    padding: 8px;
    margin: 8px;
    flex: auto;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 1100px) {
    .row {
        display: inline;
    }

    .column {
        width: 100%;
    }

    .form {
        width: 80%;
    }
}