.site {
    margin: auto;
    font-family: 'Share Tech', sans-serif;
    padding: 0.5em;
    width: 80%;
}

.col:nth-child(2) {
    border-bottom: 1px solid gray;
}

.aling {
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.30);
    overflow: hidden;
    padding: 1em;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.30);
}

@media screen and (min-width: 1200px) {
    .col:nth-child(2) {
        border-bottom: none;
        float: left;
        width: 24%;
    }
    
    .col:nth-child(3) {
        border-left: 1px solid gray;
        float: right;
        padding-left: 1%;
        width: 74%;
    }
}