.height {
    height: 340px;
}

.layout {
    border-bottom: 1px solid gray;
    margin: auto;
    padding: 0.5em 0em;
    width: 80%;
}

.layout h3 {
    font-size: 30px;
    font-weight: bold;
}

.layout div {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.layout div p {
    margin: 0;
}

@media screen and (min-width: 1000px) {
    .layout {
        display: flex;
    }

    .layout h3 {
        width: 20%;
    }

    .layout div{
        width: 80%;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1500px) {
    .height {
        height: 640px;
    }
}


