.fotoDePerfil {
    align-items: center;
    display: flex;
    padding: 0em 1em;
    width: 100%;
}

.fotoDePerfil img {
    border: 1px solid gray;
    border-radius: 50%;
    width: 20%;
}

.fotoDePerfil div {
    padding: 0.5em;
}

.fotoDePerfil div p,
.contatos p {
    margin: 0;
}

.fotoDePerfil div p:first-child,
.contatos p:first-child {
    font-size: 30px;
    font-weight: bolder;
}

.contatos {
    margin: auto;
    padding: 0.5em;
    width: 80%;
}

.navigation {
    overflow-x: scroll;
}

.navigation article {
    -webkit-box-shadow: 0px 23px 20px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 23px 20px -18px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 23px 20px -18px rgba(0, 0, 0, 0.75);
    display: flex;
    margin: 1em 0;
    padding-bottom: 0.15em;
    width: 180%;
}

.navigation article span {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    width: 180px;
}

.navigation article p {
    margin: 0 0.5em;
}

.col section {
    margin: auto;
    width: 80%;
}

.iconSize {
    width: 15%;
}

@media screen and (min-width: 1000px) {
    .site {
        margin: auto;
        overflow: hidden;
        width: 80%;
    }

    .col {
        float: left;
        width: 25%;
    }

    .col:last-child {
        width: 75%;
    }

    .fotoDePerfil {
        display: block;
    }

    .fotoDePerfil img {
        width: 100%;
    }

    .fotoDePerfil div p:first-child,
    .contatos p:first-child {
        font-size: 25px;
        font-weight: bolder;
    }

    .contatos {
        padding: 0em;
    }

    .navigation {
        overflow-x: hidden;
    }

    .navigation article {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (min-width: 1500px) {
    .site {
        width: 65%;
    }
}