.divTable {
    background: rgb(200, 200, 200);
    height: 320px;
    margin: 0.5em 0em;
    padding: 0.5em;
    overflow-x: scroll;
    text-align: center;
}

.divTable th {
    width: 24%;
    margin: 0 0.5%;
}

.divTable th div {
    background: rgb(235, 235, 235);
    padding: 1em 0.75em;
}

.divTable td div {
    align-items: center;
    background: rgb(214, 214, 214);
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 0.5em;
}

.divTable td div button {
    width: 100%;
}

@media screen and (min-width: 800px) {
    .divTable {
        height: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .divTable {
        height: 400px;
    }
}

@media screen and (min-width: 1500px) {
    .divTable {
        height: 600px;
    }
}